* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--text-font);
    font-size: 34px;
}

/*ESTRUCTURA DE LA WEB*/

body {
    --text-font: "Dongle";
    --title-font: "Caveat Brush";
    --primaryblue: #A6E7EB;
    --highlightblue: #6FB4B8;
    --cardyellow: #EBEBA6;
    --cardgreen: #B8EBA6;
    --cardpink: #d7c3f1;
    --shadows: 3px 3px #000;
    --highlight-weight: 700;
    --normal-weight: 300;
    --card-borders: 2px solid black;
    --card-radius: 3px;
    --normal-fsize: 34px;
    display: grid;
    width: 100dvw;
    grid-template-columns: 10dvw 1fr 10dvw ;
    grid-template-areas:
            "l-aside main-content l-right"
            "footer footer footer";
    background-color: #fefefe;
    background-image: radial-gradient(rgba(0, 0, 0, 0.3) 1px, transparent 1px);
    background-size: 25px 25px;
    position: relative;
}

body > .a-left{
    grid-area: l-aside;
}

body >  .a-right{
    grid-area: l-right;
}

body > main{
    grid-area: main-content;
}

body > footer{
    grid-area: footer;
}

main {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    padding-left: 100px;
    padding-bottom: 100px;
}

.a-left {
    border-right: 2px solid #000;
}

/*NAVBAR*/

.navbar {
    width: 100%;
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 38px;
    /*border: 2px solid #000;*/
}

.navbar-logo {
    padding-top: 12px;
}

.navbar-logo img {
    width: 100px;
    height: 45px;
}

.navbar-ul {
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 28px;
}

.navbar-li {
    font-size: 40px;
    line-height: 0;
    list-style: none;
    font-weight: 400;
}

.navbar-li:last-child {
    color: var(--highlightblue);
    font-weight: var(--highlight-weight);
}

/*HERO SECTION*/
.hero-section {
    width: 100%;
    height: 30dvh;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 35px;
}

.hero-section-left {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.hero-section-icons {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: start;
    align-items: center;
}

.icons-photo {
    width: 150px;
    height: 150px;
    background-color: transparent;
    border-radius: 50%;
    background-image: url("assets/alex-svicon.png");
    background-size: cover;
    background-position: 50% 45%;
}

.icons-vector img {
    width: 70px;
}

.icons-vector {
    position: relative;
}

.icons-vector::after {
    content: 'Alex';
    font-family: var(--title-font);
    width: 90px;
    height: 50px;
    text-align: center;
    background-color: var(--primaryblue);
    position: absolute;
    top: -30px;
    left: 80px;
    transform: rotate(-17deg);
    font-size: 34px;
}

.hero-section-title p {
    font-size: 96px;
    line-height: 0.7;
    letter-spacing: 0.3rem;
}

.dev-text {
    position: relative;
}

.dev-text::before {
    content: '';
    width: 100%;
    height: 30%;
    background-color: var(--primaryblue);
    position: absolute;
    bottom: 15px;
    z-index: -1;
    box-shadow: var(--shadows);
}

.hero-section-right {
    width: 70%;
    height: 100%;
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 30px;
}

.hero-section-text {
    width: 100%;
}

.hero-section-text p {
    line-height: 1;
    font-weight: var(--normal-weight);
}

.highlight-words {
    font-weight: var(--highlight-weight);
    color: var(--highlightblue);
}

.hero-section-addons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-content: center;
}

.hero-section-buttons {
    display: flex;
    height: 100%;
    flex-direction: row;
    align-items: center;
    gap: 25px;
    flex-grow: 1;
}

.button {
    width: auto;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    background-color: var(--primaryblue);
    padding: 0 8px;
    gap: 10px;
    border: var(--card-borders);
    box-shadow: var(--shadows);
    border-radius: var(--card-radius);
}

.button p {
    font-size: 25px;
    line-height: 1;
}

.button img {
    width: 30px;
    height: 30px;
}

.star-logo img {
    width: 26px;
    height: 26px;
}

.hero-section-world {
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 11px;
}

.hero-section-world p {
    font-size: 25px;
    color: rgba(0, 0, 0, 0.54);
}

#world-vector {
    width: 25px;
    height: 25px;
}

/*EXPERIENCE SECTION*/
#experience-section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.titles-section-left {
    width: 12%;
}

.titles-section-left p {
    font-family: var(--title-font);
    background-color: var(--primaryblue);
    padding: 2px;
    text-align: center;
}

.experience-section-right {
    width: 70%;
    display: flex;
    flex-direction: column;
    border: 3px solid #000000;
    border-radius: 20px;
}

.experience-card {
    display: flex;
    flex-direction: column;
    padding: 30px 50px 30px 100px;
    position: relative;
}

.top {
    border-bottom: 1.5px solid #000000;
}

.bottom {
    border-top: 1.5px solid #000000;
}

.experience-date {
    padding: 0 8px;
    border: var(--card-borders);
    border-radius: var(--card-radius);
    box-shadow: var(--shadows);
    position: absolute;
    left: -200px;
    top: 100px;
}


.first-date {
    background-color: var(--cardyellow);
}

.second-date {
    background-color: var(--cardgreen);
}

.experience-title, .experience-title span {
    font-size: 38px;
    font-weight: var(--highlight-weight);
}

.experience-description {
    font-weight: var(--normal-weight);
}

.experience-description li {
    list-style: none;
    position: relative;
}

.experience-description li::before {
    content: '';
    width: 10px;
    height: 10px;
    background-color: var(--primaryblue);
    border: var(--card-borders);
    border-radius: 50%;
    box-shadow: 2px 2px 0 #000000;
    display: inline-block;
    position: relative;
    bottom: 2px;
    margin-right: 10px;
}

/*PROJECT SECTION*/
#project-section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.project-section-right {
    width: 70%;
    display: flex;
    flex-direction: row;
    align-content: center;
    gap: 1rem;
}

.project-card {
    display: flex;
    flex-direction: column;
    border: 3px solid #000000;
    border-radius: 10px;
    flex-grow: 1;
    /*padding: 12px 17px 12px 17px;*/
    padding: 25px;
    max-width: 450px;
}

.project-photo-wrapper {
    width: 100%;
    aspect-ratio: 16/9;
    overflow: hidden;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.44);
    border-radius: 5px;
}

.project-photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.project-body {
    margin-top: 1rem;
}

.project-description p {
    line-height: 1;
    font-weight: var(--normal-weight);
}

.project-skills {
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    gap: 10px;
}

.project-skills li {
    font-size: 25px;
    line-height: 1;
    background-color: inherit;
}

.project-skills li:first-child {
    background-color: var(--cardgreen);
}

.project-skills li:nth-child(2n) {
    background-color: var(--cardyellow);
}

.project-skills li:nth-child(3n) {
    background-color: var(--primaryblue);
}

.website-redirect {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.3rem;
}

.website-redirect-wrapper {
    background-color: var(--cardpink);
}

.website-redirect-wrapper a {
    color: #000000;
    text-decoration: none;
    font-weight: var(--highlight-weight);
}

.website-redirect-wrapper p {
    font-size: 0.9rem;
}

.website-redirect span {
    font-size: 20px;
}

/*SKILLS SECTION*/
#skills-section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.skills-section-right {
    width: 70%;
}

#skills-section-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
    "frontend frontend frontend frontend"
    "backend tools tools tools";
    gap: 1.5rem;
}

.skills-section-grid p{
    font-weight: var(--highlight-weight);
}

#fe-skills-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}

#be-skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    justify-items: center;
}

#tools-skills-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
    gap: 1rem;

}

#skills-section-grid > .front-end-container{
    grid-area: frontend;
}

#skills-section-grid > .back-end-container{
    grid-area: backend;
}

#skills-section-grid > .tools-container{
    grid-area: tools;
}

.skills-container{
    padding: 40px;
    border: 3px solid #000000;
    border-radius: 10px;
}

.skills-container legend{
    font-size: 45px;
    padding: 0 10px;
    line-height: 0;
    font-weight: var(--highlight-weight);
}

.skill-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border: var(--card-borders);
    border-radius: var(--card-radius);
    box-shadow: var(--shadows);
    width: 150px;
    height: 150px;
}

.skill-icon {
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.skill-icon img {
    width: 80%;
    height: 80%;
    object-fit: contain;
    filter: brightness(0);
}

.skill-cards p {
    line-height: 0;
}

.html-card {
    background: #ff8563;
    background: linear-gradient(0deg, rgba(255, 133, 99, 1) 0%, rgba(255, 207, 191, 1) 100%);
}

.css-card {
    background: #7d97ff;
    background: linear-gradient(0deg, rgba(125, 151, 255, 1) 0%, rgba(222, 226, 255, 1) 100%);
}

.js-card {
    background: #ffef73;
    background: linear-gradient(0deg, rgba(255, 239, 115, 1) 0%, rgba(255, 250, 209, 1) 100%);
}

#js-icon{
    width: 65%;
    height: 65%;
}

.python-card{
    background: #4B8BBE;
    background: linear-gradient(0deg, rgba(75, 139, 190, 1) 0%, rgba(191, 226, 255, 1) 100%);
}

.figma-card{
    background: #A259FF;
    background: linear-gradient(0deg, rgba(162, 89, 255, 1) 0%, rgba(211, 181, 255, 1) 100%);
}

.git-card{
    background: #F14E32;
    background: linear-gradient(0deg, rgba(241, 78, 50, 1) 0%, rgba(255, 175, 163, 1) 100%);
}

.squarespace-card{
    background: #92ed8a;
    background: linear-gradient(0deg, rgba(146, 237, 138, 1) 0%, rgba(212, 255, 212, 1) 100%);
}

/*ABOUT ME SECTION*/
#aboutme-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
    width: 100%;
}

.aboutme-section-left{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.aboutme-photo{
    width: 300px;
    height: 300px;
    position: relative;
}

.aboutme-photo svg{
    position: absolute;
    z-index: 10;
}

.aboutme-photo img{
    width: 100%;
    height: 100%;
    border-radius:20px;
    object-fit: contain;
    z-index: 20;
    position: relative;
    /*border: 1px solid black;*/
}

.aboutme-hobbies{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: var(--card-borders);
    box-shadow: var(--shadows);
    background-color: var(--cardgreen);
}

.aboutme-hobbies p{
    font-weight: var(--highlight-weight);
}

.hobbies-icons{
    width: 25px;
    height: 25px;
}

.hobbies-ul{
    list-style: none;
    font-weight: var(--normal-weight);
}

.hobbies-ul li span{
    margin-right: 0.5rem;
}

.aboutme-section-right{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: start;
    gap:37px;
    padding: 80px;
}

.aboutme-title{
    width: 20%;
}

.aboutme-title p{
    font-family: var(--title-font);
    background-color: var(--primaryblue);
    padding:5px;
    text-align: center;
}

.aboutme-information{
    font-weight: var(--normal-weight);
}

.aboutme-icons{
    display: flex;
    flex-direction: row;
    gap: 0.8rem;
    margin-top: 0.5rem;
}

.information-icons{
    width: 35px;
    height: 35px;
}

.aboutme-cv-download-button{
    display: flex;
    font-weight: var(--highlight-weight);
}

.cv-button{
    background-color: var(--cardyellow);
}

/*CONTACT SECTION*/
#contact-section{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.contact-section-left{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-title{
    font-family: var(--title-font);
    background-color: var(--primaryblue);
    text-align: start;
}

.contact-row img{
    transform: rotate(-90deg);
}

.contact-information{
    width: 100%;
    padding: 10px;
    font-weight: var(--highlight-weight);
    margin-top: 1.5rem;
}

.contact-section-right{
    display: flex;
    justify-content: center;
    width: 70%;
}

.form-wrapper{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 4px solid #000000;
    box-shadow: 10px 10px #000000;
}

.form-body{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 50px;
    background-color: #f2f2f2;
}

.form-top-bar{
    width: 100%;
    height: 50px;
    border-bottom: 3px solid #000000;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    padding-left: 1rem;
    background-color: var(--primaryblue);
}

.top-bar-buttons{
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

.top-bar-buttons span{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 3px solid #000000;
}

#tbb-1{
    background-color: #ED6A5F;
}

#tbb-2{
    background-color: #F6BE50;
}

#tbb-3{
    background-color:#61C555;
}

.form-body input, textarea{
    width: 100%;
    margin-top: 1rem;
    border-left: none;
    border-bottom: 3px solid #000000;
    border-top: none;
    border-right: none;
    background-color: #dedede;
    padding-left: 10px;
}

.form-body input:first-child{
    margin-top: inherit;
}

.form-body button{
    margin-top: 1rem;
    background-color: var(--cardgreen);
    font-weight: var(--highlight-weight);
    font-size: 40px;
}

.form-body textarea{
    height: 130px;
    resize: none;
}

.form-body input::placeholder, textarea::placeholder{
    font-weight: var(--normal-weight);
    letter-spacing: 2px;
    color: #0c0c0c;
}

/*FOOTER SECTION*/
.footer-section{
    display: flex;
    flex-direction: row;
    height: 15dvh;
    border-top: 2px solid #000;
}

.footer-left-section{
    width: 10dvw;
    border-right:2px solid #000;
}

.footer-right-section{
    width: 90dvw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 5rem;
}

.footer-section-buttons{
    flex-grow: inherit;
}
















